/* Global background and transparency settings */
.appMount_ea7e65 {
    background-image: var(--theme-background-image) !important;
    background-size: cover !important;
}
.bg_d4b6c5, .scroller_fea3ef, .searchBar_f0963d .searchBarComponent_f0963d, .theme-dark .container_c2739c,
.headerNormal-1l1Znk, .headerTop-2y3V6H, .avatar-22FtUu, .input_df4dd0, .avatarHint-1E3LMl,
.container_ee69e0, .chat_a7d72e, .members_cbd271, .chatContent_a7d72e, .container_cbd271, .members_cbd271,
.member_cbd271, .theme-dark .container_b2ca13, .container_adcaac, .button_adcaac.buttonColor_adcaac,
.button_adcaac .buttonColor_adcaac, .channelTextArea_a7d72e, .scrollableContainer_d0696b,
.theme-dark .form_a7d72e:before, .layer_e552e0, .standardSidebarView_c25c6d, .sidebarRegionScroller_c25c6d,
.contentRegion_c25c6d, .contentRegionScroller_c25c6d, .background_b69b77, .fieldList_b69b77, .auto_c49869::-webkit-scrollbar-track,
.auto_c49869::-webkit-scrollbar-thumb, .embedFull_b0068a, .content_fc5f50, .theme-dark .children_e44302:after,
.tree-3tCaw8, .wrapper_fea3ef, .scroller_fea3ef, .tutorialContainer-2sGCg9, .expandedFolderBackground-2sPsd-,
.wrapper_c4cd66, .pill-31IEus, .wrapper-21YSNc, .item_c4cd66, .pill-1m5BUr, .tutorialContainer_f9623d,
.listItem_c96c45, .expandedFolderBackground_bc7085, .folder_bc7085, .container_cbd271, .guildSeparator_d0c57e,
.wrapper_ba0ffb, .avatar-3QF_VA, .footer-3naVBw, .container_d1c246, .chatTarget_d1c246.container_d1c246.floating_d1c246,
.connectedAccountContainer-SlCC-S, .header_fd6364, .searchBar_a46bef, .reaction_f61c73, .reaction_ec6b19,
.bannerSVGWrapper-qc0szY, .theme-dark .background_c54132, .card_d4f6c7, .interactiveCard_d92364, .container_c68a2c,
.icon_ac2d0d, .container__29699, .emptyStateContainer__08276, .theme-dark .container-3wLKDe, .container_b385c8,
.divider_af45f8, .container-2_J666, .stepContainer-SaPPyG, .mainCard-3KBsBI, .sidebarCard-1Gn1ch, .member_cbd271,
.members_cbd271, .scroller_fea3ef, .theme-dark .container_ee69e0, .container_adcaac, .container_b2ca13,
.chatContent_a7d72e, .scroller_c47fa9, .theme-dark .panel_bf1a22, .wrapper_cdfd51, .layer_d4b6c5, .codeView_ad9cbd,
.newMosaicStyle_ad9cbd .codeView_ad9cbd, .modalTextContainer_ad9cbd, .contentWrapper_eab878, .theme-dark .page_d20375,
.theme-dark .container_d20375, .mainTableContainer_e23072, .theme-dark .container_c2efea, .shop_e77fa3,
.modeUnreadImportant_d8bfb3 .name_d8bfb3, .wrapper_b75bb9, .container_a6d69a, .container_fc4f04,
.theme-dark .themed_fc4f04, .attachedBars_d0696b, .replyBar_b11c5e, .header_b56bbc {
    background-color: initial;
}

/* Color and border settings */
.button_adcaac.buttonColor_adcaac, .button_adcaac .buttonColor_adcaac {
    background-color: var(--video-screen-button-background-color);
    color: var(--video-screen-button-foreground-color);
}
.button_adcaac.buttonColor_adcaac:hover, .button_adcaac .buttonColor_adcaac:hover {
    background-color: var(--video-screen-button-background-hovor-color);
    color: var(--video-screen-button-foreground-hovor-color);
}
.auto_c49869::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
}
.embedFull_b0068a {
    border-left: 4px solid var(--main-theme-color);
    background: var(--embed-background-transparency);
}
.content_fc5f50 {
    color: var(--main-theme-color);
}
.item_c4cd66 {
    animation: var(--unread-server-animation) 3s linear infinite;
    border: 2px solid var(--main-theme-color);
    background: 0 0;
    border-radius: 100%;
    display: block;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: -2px;
    right: 3px !important;
    width: 48px;
    height: 48px !important;
    transform: none !important;
}
.item_c4cd66:not([style*="height: 8px"]) {
    border-color: transparent;
    background-color: initial;
}
.pill-1m5BUr {
    display: none;
}
.reaction_f61c73, .reaction_ec6b19 {
    background: var(--reaction-emoji-background-color);
    border: var(--reaction-emoji-border-color);
}
.reaction_f61c73:hover, .reaction_ec6b19:hover {
    background-color: var(--reaction-emoji-hover-background-color);
    border-color: var(--reaction-emoji-hover-border-color);
}
.codeView_ad9cbd, .modalTextContainer_ad9cbd {
    background-color: var(--code-markup-background-color);
    border: var(--code-markup-border);
}
.newMosaicStyle_ad9cbd .codeView_ad9cbd {
    margin: 0;
}
.overlayBackground-arbZMT, .profileBadges-31rDHI, .profileCustomizationPreview-2-Y173 {
    background-color: var(--message-box-transparency);
}
.overlayBackground-H1K9ZY, .profileBadges-1GBCVy {
    background-color: rgba(0, 0, 0, .4);
}
.textarea_dde0a8:focus {
    background-color: rgba(0, 0, 0, .4);
}
.searchResultsWrap_c2b47d {
    background-color: var(--message-search-container-background-color);
}
.searchHeader_b7c924, .channelName-3w2Y3c {
    background: 0 0;
}
.searchResult_ddc613 {
    background-color: var(--message-search-result-background-color);
}
